@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'DM Sans', 'Open Sans';
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 219, 174);
    width: 100%;
    height: 72px;
}
.left-side{
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 0.2px;
    margin-left: 12px;
}
.right-side{
    display: flex;
    gap: 10px;
    margin-right: 12px;
}
.profile-info{
    border: 1px solid transparent;
    padding: 4px;
}
.profile-info:hover{
    cursor: pointer;
    border: 1px solid #f1f1f177;
    border-radius: 10px;
}
.profile-info h3{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: 0.2px;    
}
.profile-info p{
    font-family: 'DM Sans';
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.2px;
    color: #00000062;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 72px);
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
    border-radius: 10px;
    width: 320px;
    height: fit-content;
    padding: 24px;
    gap:10px;
}
#todo-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 100%;
}
#input-task{
    border-radius: 10px;
    padding: 8px;
}
select:hover{
    cursor: pointer;
}
#priority{
    border-radius: 10px;
    padding: 8px;
}
#add-btn{
    border-radius: 10px;
    padding: 8px;
}
#add-btn:hover{
    cursor: pointer;
}
#task-section,
#done-section{
    display: none;
    width: 100%;
}
#task-section h2,
#done-section h2{
    font-size: 20px;
}
.task-left {
    display: flex;
    align-items: center;
    gap: 8px;
}
.task-info {
    display: flex;
    flex-direction: column;
}
.task-info small {
    font-size: 10px;
    color: #666;
}
li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    padding: 8px;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    margin: 8px 0 8px 0;
}
li button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 18px;
}
#delete-all-btn{
    display: none;
    width: 100%;
    background:none;
    border: none;
    font-weight: 600;
}
#delete-all-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}
@media (min-width: 768px) {
.navbar{
    height: 80px;
}
.left-side{
    font-size: 24px;
    font-weight: 700;
}
.profile-info h3{
    font-size: 16px;
}
.profile-info p{
    font-size: 14px;
}
main{
    height: calc(100vh - 80px);
}
.wrapper{
    width: 920px;
    padding: 48px;
}
#todo-form{
    gap: 16px;
}
.task-info{
    flex-direction: row;
    align-items: center;
    gap: 48px;
}
}